flows.json
[{"id":"6d68cb9a.f977b4","type":"comment","z":"51fa67d2.e915e8","name":"Hardware Information must be requested prior to config... (if desired)","info":"","x":300,"y":440,"wires":[]},{"id":"107bb512.75ea1b","type":"change","z":"51fa67d2.e915e8","name":"Set Subscribe Topic","rules":[{"t":"set","p":"subscribe","pt":"flow","to":"payload.header.from","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":440,"wires":[["eeac954.3373668"]]},{"id":"b73000d5.33ed7","type":"switch","z":"51fa67d2.e915e8","name":"If WiFi Ack....","property":"payload.header.namespace","propertyType":"msg","rules":[{"t":"eq","v":"Appliance.Config.Wifi","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":440,"wires":[["107bb512.75ea1b"]]},{"id":"eeac954.3373668","type":"change","z":"51fa67d2.e915e8","name":"Set Publish Topic","rules":[{"t":"set","p":"publish","pt":"flow","to":"$replace($flowContext(\"subscribe\"),\"publish\",\"subscribe\")\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":440,"wires":[[]]},{"id":"6291b7b7.33b3f8","type":"inject","z":"51fa67d2.e915e8","name":"Device On","topic":"","payload":"{\"onoff\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["5e34a764.021538"]]},{"id":"8d1543c3.4f00c","type":"inject","z":"51fa67d2.e915e8","name":"Device Off","topic":"","payload":"{\"onoff\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["5e34a764.021538"]]},{"id":"5e34a764.021538","type":"template","z":"51fa67d2.e915e8","name":"Meross MQTT 'Togglex' Message Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"header\": {\n        \"from\": \"/HaPi/MQTT\",\n        \"messageId\": \"\",\n        \"method\": \"SET\",\n        \"namespace\": \"Appliance.Control.ToggleX\",\n        \"payloadVersion\": 1,\n        \"sign\": \"\",\n        \"timestamp\": 1\n    },\n    \"payload\": {\n        \"togglex\": {\n                \"channel\": 0,\n                \"onoff\": {{{payload.onoff}}}\n        }\n    }\n}\n","output":"json","x":610,"y":560,"wires":[["95de53f9.9aecc"]]},{"id":"1283bf84.31e18","type":"mqtt out","z":"51fa67d2.e915e8","name":"MQTT Post Message","topic":"","qos":"","retain":"","broker":"2665ac82.1ca514","x":1240,"y":740,"wires":[]},{"id":"21b3b0da.e7691","type":"inject","z":"51fa67d2.e915e8","name":"Set Lumanance Level 10 ...","topic":"","payload":"{\"luminance\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":680,"wires":[["1f0b6e59.57e5b2"]]},{"id":"1f0b6e59.57e5b2","type":"template","z":"51fa67d2.e915e8","name":"Meross MQTT 'Light' Message Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"header\": {\n        \"from\": \"/HaPi/MQTT\",\n        \"messageId\": \"\",\n        \"method\": \"SET\",\n        \"namespace\": \"Appliance.Control.Light\",\n        \"payloadVersion\": 1,\n        \"sign\": \"\",\n        \"timestamp\": 1\n    },\n    \"payload\": {\n        \"light\":{\n            \"capacity\":4,\n            \"channel\":0,\n            \"rgb\":-1,\n            \"temperature\":-1,\n            \"luminance\": {{{payload.luminance}}}\n         }\n    }\n}","output":"json","x":620,"y":680,"wires":[["95de53f9.9aecc"]]},{"id":"764d6c92.750d24","type":"debug","z":"51fa67d2.e915e8","name":"Full Tx Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1240,"y":620,"wires":[]},{"id":"95de53f9.9aecc","type":"change","z":"51fa67d2.e915e8","name":"Set MQTT Topic & Params","rules":[{"t":"set","p":"topic","pt":"msg","to":"publish","tot":"flow"},{"t":"set","p":"qos","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"retain","pt":"msg","to":"false","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":560,"wires":[["7c64ed40.72e284"]]},{"id":"7c64ed40.72e284","type":"function","z":"51fa67d2.e915e8","name":"Add Time MessageId, and Signature...","func":"var date = new Date();\nvar timestamp = date.getTime();\n\nfunction randomString(length, chars) {\n    var result = '';\n    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];\n    return result;\n}\n\nvar MD5 = function(s) {\n    function L(k,d) { return(k<<d)|(k>>>(32-d))}\n    function K(G,k){var I,d,F,H,x;F=(G&2147483648);H=(k&2147483648);I=(G&1073741824);d=(k&1073741824);x=(G&1073741823)+(k&1073741823);if(I&d){return(x^2147483648^F^H)}if(I|d){if(x&1073741824){return(x^3221225472^F^H)}else{return(x^1073741824^F^H)}}else{return(x^F^H)}}\n    function r(d,F,k){return(d&F)|((~d)&k)}\n    function q(d,F,k){return(d&k)|(F&(~k))}\n    function p(d,F,k){return(d^F^k)}\n    function n(d,F,k){return(F^(d|(~k)))}\n    function u(G,F,aa,Z,k,H,I){G=K(G,K(K(r(F,aa,Z),k),I));return K(L(G,H),F)}\n    function f(G,F,aa,Z,k,H,I){G=K(G,K(K(q(F,aa,Z),k),I));return K(L(G,H),F)}\n    function D(G,F,aa,Z,k,H,I){G=K(G,K(K(p(F,aa,Z),k),I));return K(L(G,H),F)}\n    function t(G,F,aa,Z,k,H,I){G=K(G,K(K(n(F,aa,Z),k),I));return K(L(G,H),F)}\n    function e(G){var Z;var F=G.length;var x=F+8;var k=(x-(x%64))/64;var I=(k+1)*16;var aa=Array(I-1);var d=0;var H=0;while(H<F){Z=(H-(H%4))/4;d=(H%4)*8;aa[Z]=(aa[Z]| (G.charCodeAt(H)<<d));H++}Z=(H-(H%4))/4;d=(H%4)*8;aa[Z]=aa[Z]|(128<<d);aa[I-2]=F<<3;aa[I-1]=F>>>29;return aa}\n    function B(x){var k=\"\",F=\"\",G,d;for(d=0;d<=3;d++){G=(x>>>(d*8))&255;F=\"0\"+G.toString(16);k=k+F.substr(F.length-2,2)}return k}\n    function J(k){k=k.replace(/rn/g,\"n\");var d=\"\";for(var F=0;F<k.length;F++){var x=k.charCodeAt(F);if(x<128){d+=String.fromCharCode(x)}else{if((x>127)&&(x<2048)){d+=String.fromCharCode((x>>6)|192);d+=String.fromCharCode((x&63)|128)}else{d+=String.fromCharCode((x>>12)|224);d+=String.fromCharCode(((x>>6)&63)|128);d+=String.fromCharCode((x&63)|128)}}}return d}var C=Array();var P,h,E,v,g,Y,X,W,V;var S=7,Q=12,N=17,M=22;var A=5,z=9,y=14,w=20;var o=4,m=11,l=16,j=23;var U=6,T=10,R=15,O=21;s=J(s);C=e(s);Y=1732584193;X=4023233417;W=2562383102;V=271733878;for(P=0;P<C.length;P+=16){h=Y;E=X;v=W;g=V;Y=u(Y,X,W,V,C[P+0],S,3614090360);V=u(V,Y,X,W,C[P+1],Q,3905402710);W=u(W,V,Y,X,C[P+2],N,606105819);X=u(X,W,V,Y,C[P+3],M,3250441966);Y=u(Y,X,W,V,C[P+4],S,4118548399);V=u(V,Y,X,W,C[P+5],Q,1200080426);W=u(W,V,Y,X,C[P+6],N,2821735955);X=u(X,W,V,Y,C[P+7],M,4249261313);Y=u(Y,X,W,V,C[P+8],S,1770035416);V=u(V,Y,X,W,C[P+9],Q,2336552879);W=u(W,V,Y,X,C[P+10],N,4294925233);X=u(X,W,V,Y,C[P+11],M,2304563134);Y=u(Y,X,W,V,C[P+12],S,1804603682);V=u(V,Y,X,W,C[P+13],Q,4254626195);W=u(W,V,Y,X,C[P+14],N,2792965006);X=u(X,W,V,Y,C[P+15],M,1236535329);Y=f(Y,X,W,V,C[P+1],A,4129170786);V=f(V,Y,X,W,C[P+6],z,3225465664);W=f(W,V,Y,X,C[P+11],y,643717713);X=f(X,W,V,Y,C[P+0],w,3921069994);Y=f(Y,X,W,V,C[P+5],A,3593408605);V=f(V,Y,X,W,C[P+10],z,38016083);W=f(W,V,Y,X,C[P+15],y,3634488961);X=f(X,W,V,Y,C[P+4],w,3889429448);Y=f(Y,X,W,V,C[P+9],A,568446438);V=f(V,Y,X,W,C[P+14],z,3275163606);W=f(W,V,Y,X,C[P+3],y,4107603335);X=f(X,W,V,Y,C[P+8],w,1163531501);Y=f(Y,X,W,V,C[P+13],A,2850285829);V=f(V,Y,X,W,C[P+2],z,4243563512);W=f(W,V,Y,X,C[P+7],y,1735328473);X=f(X,W,V,Y,C[P+12],w,2368359562);Y=D(Y,X,W,V,C[P+5],o,4294588738);V=D(V,Y,X,W,C[P+8],m,2272392833);W=D(W,V,Y,X,C[P+11],l,1839030562);X=D(X,W,V,Y,C[P+14],j,4259657740);Y=D(Y,X,W,V,C[P+1],o,2763975236);V=D(V,Y,X,W,C[P+4],m,1272893353);W=D(W,V,Y,X,C[P+7],l,4139469664);X=D(X,W,V,Y,C[P+10],j,3200236656);Y=D(Y,X,W,V,C[P+13],o,681279174);V=D(V,Y,X,W,C[P+0],m,3936430074);W=D(W,V,Y,X,C[P+3],l,3572445317);X=D(X,W,V,Y,C[P+6],j,76029189);Y=D(Y,X,W,V,C[P+9],o,3654602809);V=D(V,Y,X,W,C[P+12],m,3873151461);W=D(W,V,Y,X,C[P+15],l,530742520);X=D(X,W,V,Y,C[P+2],j,3299628645);Y=t(Y,X,W,V,C[P+0],U,4096336452);V=t(V,Y,X,W,C[P+7],T,1126891415);W=t(W,V,Y,X,C[P+14],R,2878612391);X=t(X,W,V,Y,C[P+5],O,4237533241);Y=t(Y,X,W,V,C[P+12],U,1700485571);V=t(V,Y,X,W,C[P+3],T,2399980690);W=t(W,V,Y,X,C[P+10],R,4293915773);X=t(X,W,V,Y,C[P+1],O,2240044497);Y=t(Y,X,W,V,C[P+8],U,1873313359);V=t(V,Y,X,W,C[P+15],T,4264355552);W=t(W,V,Y,X,C[P+6],R,2734768916);X=t(X,W,V,Y,C[P+13],O,1309151649);Y=t(Y,X,W,V,C[P+4],U,4149444226);V=t(V,Y,X,W,C[P+11],T,3174756917);W=t(W,V,Y,X,C[P+2],R,718787259);X=t(X,W,V,Y,C[P+9],O,3951481745);Y=K(Y,h);X=K(X,E);W=K(W,v);V=K(V,g)}\n    var i=B(Y)+B(X)+B(W)+B(V);\n    return i.toLowerCase()\n  };\n\nmsg.payload.header.timestamp = parseInt(timestamp/1000);\n\nvar rnd_string = randomString(16,'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');\n\nmsg.payload.header.messageId = MD5(rnd_string);\n\nmsg.payload.header.sign = MD5(msg.payload.header.messageId + flow.get(\"key\") + msg.payload.header.timestamp);\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":680,"wires":[["1283bf84.31e18","764d6c92.750d24"]]},{"id":"b683d0be.bbb1a","type":"inject","z":"51fa67d2.e915e8","name":"Set Lumanance Level 100 ...","topic":"","payload":"{\"luminance\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":720,"wires":[["1f0b6e59.57e5b2"]]},{"id":"1c4345c5.f90cda","type":"comment","z":"51fa67d2.e915e8","name":"Local Meross / MQTT Testbench...","info":"","x":440,"y":500,"wires":[]},{"id":"d1c91bde.87b6d8","type":"link in","z":"51fa67d2.e915e8","name":"ToggleX","links":["369ccc8d.3c8674"],"x":360,"y":600,"wires":[["5e34a764.021538"]],"l":true},{"id":"b45776f4.0644b8","type":"link in","z":"51fa67d2.e915e8","name":"Light","links":["156a6b0.4cd1395"],"x":390,"y":740,"wires":[["1f0b6e59.57e5b2"]],"l":true},{"id":"e5b37300.74a62","type":"template","z":"51fa67d2.e915e8","name":"Meross MQTT System.Ability Message Template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n        \"from\": \"{{{flow.subscribe}}}\",\n        \"messageId\": \"\",\n        \"method\": \"GET\",\n        \"namespace\": \"Appliance.System.Ability\",\n        \"payloadVersion\": 1,\n        \"sign\": \"\",\n        \"timestamp\": 1\n    },\n    \"payload\": {\n    }\n}\n","output":"json","x":640,"y":780,"wires":[["95de53f9.9aecc"]]},{"id":"85f1efa8.a5933","type":"template","z":"51fa67d2.e915e8","name":"Meross MQTT System.Debug Message Template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n        \"from\": \"{{{flow.subscribe}}}\",\n        \"messageId\": \"\",\n        \"method\": \"GET\",\n        \"namespace\": \"Appliance.System.Debug\",\n        \"payloadVersion\": 1,\n        \"sign\": \"\",\n        \"timestamp\": 1\n    },\n    \"payload\": {\n    }\n}\n","output":"json","x":650,"y":820,"wires":[["95de53f9.9aecc"]]},{"id":"ea0ad514.a6e898","type":"inject","z":"51fa67d2.e915e8","name":"Get Device Info...","topic":"","payload":"None","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":800,"wires":[["85f1efa8.a5933","e5b37300.74a62"]]},{"id":"62bf721b.263f4c","type":"comment","z":"51fa67d2.e915e8","name":"This is a simple MQTT monitor - set to watch '/applicace/#' Note you must configure the server credentials on all MQTT nodes...","info":"","x":880,"y":920,"wires":[]},{"id":"e90ed8c3.8d6838","type":"comment","z":"51fa67d2.e915e8","name":"In addition to monitoring, it is used for parsing status messages to be forwarded to the simple interface...","info":"","x":810,"y":960,"wires":[]},{"id":"bf1a2a87.7b2598","type":"mqtt in","z":"51fa67d2.e915e8","name":"Watch Device...","topic":"/appliance/#","qos":"2","datatype":"json","broker":"2665ac82.1ca514","x":140,"y":1020,"wires":[["2fe26734.e45928"]]},{"id":"2fe26734.e45928","type":"debug","z":"51fa67d2.e915e8","name":"MQTT Messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":1020,"wires":[]},{"id":"dd1ffc3c.66025","type":"inject","z":"51fa67d2.e915e8","name":"Hardware Information","topic":"/payload","payload":"{\"header\":{\"messageId\":\"3\",\"method\":\"GET\",\"namespace\":\"Appliance.System.All\"},\"payload\":{}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["c6ef1c80.b1a25"]]},{"id":"905a4b99.d6f6f8","type":"inject","z":"51fa67d2.e915e8","name":"Manual Trigger Config","topic":"Msg","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[["79db8653.5b1a88"]]},{"id":"53644734.ba0688","type":"template","z":"51fa67d2.e915e8","name":"MQTT Set Post Message","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n        \"messageId\": \"1\",\n        \"method\": \"SET\",\n        \"namespace\": \"Appliance.Config.Key\"\n    },\n    \"payload\": {\n        \"key\": {\n            \"gateway\": {\n                \"host\": \"{{{flow.MQTT_Address}}}\",\n                \"port\": \"{{{flow.MQTT_Port}}}\"\n            },\n            \"key\": \"{{{flow.key}}}\",\n            \"userId\": \"\"\n        }\n    }\n}","output":"json","x":450,"y":320,"wires":[["c6ef1c80.b1a25"]]},{"id":"c6ef1c80.b1a25","type":"http request","z":"51fa67d2.e915e8","name":"Config Post","method":"POST","ret":"obj","paytoqs":false,"url":"http://10.10.10.1/config","tls":"","proxy":"","authType":"basic","x":810,"y":340,"wires":[["f8d8a6d.c4a8958","b73000d5.33ed7"]]},{"id":"f8d8a6d.c4a8958","type":"debug","z":"51fa67d2.e915e8","name":"HTTP Response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":340,"wires":[]},{"id":"49a15d49.39e154","type":"template","z":"51fa67d2.e915e8","name":"Wi-Fi Set Post Message","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n        \"messageId\": \"2\",\n        \"method\": \"SET\",\n        \"namespace\": \"Appliance.Config.Wifi\"\n    },\n    \"payload\": {\n        \"wifi\": {\n            \"ssid\": \"{{{flow.ssid}}}\",\n            \"password\": \"{{{flow.password}}}\"\n        }\n    }\n}","output":"json","x":710,"y":260,"wires":[["c6ef1c80.b1a25"]]},{"id":"ff08913f.88562","type":"delay","z":"51fa67d2.e915e8","name":"Delay Second +5sec","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":260,"wires":[["49a15d49.39e154"]]},{"id":"79db8653.5b1a88","type":"delay","z":"51fa67d2.e915e8","name":"Rate Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":240,"y":260,"wires":[["ff08913f.88562","53644734.ba0688"]]},{"id":"7770774a.f12308","type":"ping","z":"51fa67d2.e915e8","name":"Ping 10.10.10.1","host":"10.10.10.1","timer":"120","x":140,"y":180,"wires":[["19108850.6a69d8"]]},{"id":"19108850.6a69d8","type":"switch","z":"51fa67d2.e915e8","name":"In Pairing mode?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":180,"wires":[["79db8653.5b1a88"]]},{"id":"22a6fe91.724782","type":"comment","z":"51fa67d2.e915e8","name":"Auto Config...","info":"","x":250,"y":140,"wires":[]},{"id":"6622b0fb.2211f","type":"comment","z":"51fa67d2.e915e8","name":"The can be deleted and the manual trigger config below can be used...","info":"","x":770,"y":200,"wires":[]},{"id":"c6795b16.b31ae8","type":"comment","z":"51fa67d2.e915e8","name":"The Two Nodes to the left are to auto-config by a ping every 120 sec.","info":"","x":760,"y":160,"wires":[]},{"id":"55869e4d.cea95","type":"change","z":"51fa67d2.e915e8","name":"Hash Network Credencials...","rules":[{"t":"set","p":"ssid","pt":"flow","to":"$string($base64encode($flowContext(\"Wireless_SSID\")))","tot":"jsonata"},{"t":"set","p":"password","pt":"flow","to":"$string($base64encode($flowContext(\"Wireless_Network_Password\")))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":80,"wires":[[]]},{"id":"77918a3d.810d04","type":"change","z":"51fa67d2.e915e8","name":"Meross System Parameters...","rules":[{"t":"set","p":"Wireless_SSID","pt":"flow","to":"Some Network...","tot":"str"},{"t":"set","p":"Wireless_Network_Password","pt":"flow","to":"Some Network Password...","tot":"str"},{"t":"set","p":"key","pt":"flow","to":"1","tot":"str"},{"t":"set","p":"MQTT_Address","pt":"flow","to":"Local MQTT Address","tot":"str"},{"t":"set","p":"MQTT_Port","pt":"flow","to":"8883","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["55869e4d.cea95"]]},{"id":"4853a20.9a0446","type":"inject","z":"51fa67d2.e915e8","name":"Automatically Initialize Variables...","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":80,"wires":[["77918a3d.810d04"]]},{"id":"cd3e55de.856308","type":"comment","z":"51fa67d2.e915e8","name":"Set parameters for WiFi, MQTT, and encoding key in the 'Meross System Parameters' below...","info":"","x":380,"y":20,"wires":[]},{"id":"dc6f6c2d.33fa7","type":"comment","z":"51fa67d2.e915e8","name":"Version 1.00","info":"","x":890,"y":20,"wires":[]},{"id":"2665ac82.1ca514","type":"mqtt-broker","z":"","name":"HaPi_SSL","broker":"192.168.2.25","port":"2001","tls":"158037e3.0cf0b8","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"158037e3.0cf0b8","type":"tls-config","z":"","name":"DimmerSSL","cert":"","key":"","ca":"/etc/mosquitto/certs/m2mqtt_ca.crt","certname":"","keyname":"","caname":"","servername":"192.168.2.25","verifyservercert":false}]